/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-06-11, 23:57:20
    Author     : Apolyon
*/

body { 
     padding-top: 60px; 
     padding-bottom: 40px;
     background-color: rgba(0, 84, 152, 0.43);
}

.container-fluid {
    margin-top: 25px;
}

.panel-warning {
    border-color: #005498;
}
.panel-warning > .panel-heading {
    color: #005498;
    background-color: rgba(7, 0, 107, 0.15);
    border-color: #005498;
}

.well {
    border: 0px;
}